.PageContainer {
  height: 70vh;
  width: 100%;
  background-color: #f8fcfe;
}

.PageContainer h1 {
  color: #215f9a;
  font-size: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  padding-left: 10%;
}

.BoxContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 85%;
  padding-bottom: 2rem;
}

.Box {
  width: 23%;
  max-width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
  padding: 1.2rem 0.2rem 0.2rem 0.2rem;
  font-size: 1rem;
  line-height: 1.2;
}

.Box h2 {
  font-size: 1.2rem;
  padding: 0.5rem 0rem;
}

.Box p {
  width: 80%;
  height: 28%;
  text-align: center;
  padding: 0.5rem 0rem;
}

.Circle {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0rem;
}

#box1 {
  background-color: #f2f2f2;
  border: 0.12rem solid #d1d1d1;
}

#box1 .Circle {
  background-color: #d9d9d9;
}

#box2 {
  background-color: #dceaf7;
  border: 0.12rem solid #2672b0;
}

#box2 .Circle {
  background-color: #215f9a;
}

#box3 {
  background-color: #e9f5fb;
  border: 0.12rem solid #1f8dbf;
}

#box3 .Circle {
  background-color: #c1e5f5;
}

@media only screen and (max-width: 780px) {
  .BoxContainer {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .PageContainer {
    height: fit-content;
  }

  .Box {
    width: 80%;
  }
}
