.ProductPage {
  height: fit-content;
  width: 100%;
  background-color: #f8fcfe;
  display: flex;
  justify-content: center;
  padding-top: 4%;
  padding-bottom: 4%;
}

.Content {
  width: 80%;
}

.Header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 1rem;
}

.Header h1 {
  color: #215f9a;
  font-size: 1.5rem;
  margin-right: 4%;
}

.FilterContainer {
  display: flex;
  flex-direction: column;
  padding-right: 4%;
  padding-left: 4%;
  width: 23%;
}

.FilterBox {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.FilterBox h2 {
  text-align: center;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  background-color: #e8e8e8;
}

.Waterdrop {
  color: transparent;
  vertical-align: middle;
}

.FilterBox li {
  list-style: none;
  padding: 0.2rem 5%;
}

.FilterBox li:hover {
  cursor: pointer;
  background-color: #dceaf7;
}

.activeList {
  font-weight: 600;
}

.activeList .Waterdrop {
  color: #215f9a;
}

.Tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  height: 1rem;
}

.Products {
  /* height: 80%; */
}
