.ProductPage {
  height: fit-content;
  min-height: 100vh;
  width: 100%;
  background-color: #f8fcfe;
  display: flex;
  justify-content: center;
  padding-top: 4%;
  padding-bottom: 4%;
  position: relative;
}

.overlay {
  height: fit-content;
  min-height: 100vh;
  width: 100%;
  background-color: #f8fcfe;
  display: flex;
  justify-content: center;
  padding-top: 4%;
  padding-bottom: 4%;
  position: relative;
}

.Content {
  width: 75%;
}

.Header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 1rem;
}

.Header h1 {
  color: #215f9a;
  font-size: 1.5rem;
  margin-right: 4%;
}

.Searchbar {
  width: 50%;
  min-width: 12.5rem;
}

.FilterContainer,
.inactive {
  display: flex;
  flex-direction: column;
  padding-right: 4%;
  padding-left: 4%;
  width: 23%;
  min-width: 13rem;
  background-color: #f8fcfe;
}

.FilterBox {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  background-color: #f8fcfe;
}

.FilterBox h2 {
  text-align: center;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  background-color: #e8e8e8;
}

.Waterdrop {
  color: transparent;
  vertical-align: middle;
}

.FilterBox li {
  list-style: none;
  padding: 0.2rem 5%;
}

.FilterBox li:hover {
  cursor: pointer;
  background-color: #dceaf7;
}

.activeList {
  font-weight: 600;
}

.activeList .Waterdrop {
  color: #215f9a;
}

.Tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  height: 1rem;
}

.Button {
  display: none;
}

.ProductList {
  display: flex;
  flex-wrap: wrap;
}

.NotFound {
  margin: 0 auto;
  padding-top: 5%;
  padding-right: 4%;
  color: #215f9a;
}

@media only screen and (max-width: 640px) {
  .Content {
    width: 90%;
  }

  .ProductList {
    justify-content: center;
  }

  .Button {
    padding-bottom: 0.1rem;
    margin-right: 0.5rem;
    width: 1.6rem;
    border: none;
    background-color: rgb(33, 95, 154);
    color: #fff;
    border-radius: 0.2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    z-index: 3;
  }

  .Button:hover {
    background-color: rgba(33, 95, 154, 0.85);
  }

  .FilterContainer {
    display: block;
    position: absolute;
    left: 5%;
    top: 3.2rem;
    z-index: 3;
    padding: 1rem;
    background-color: #c9e3fc;
    border: 1px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
  }

  .inactive {
    position: absolute;
    display: none;
  }

  .Searchbar {
    width: 100%;
  }

  .Header {
    height: 5.5rem;
  }

  .overlay:before {
    content: " ";
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.3;
  }
}
