.Footer {
  color: #dceaf7;
  background-color: #00326a;
  font-size: 0.9rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  line-height: 1.3;
  padding: 0.5rem 0rem;
}

.Logo {
  display: flex;
  width: 40%;
}

.Footer img {
  height: 4rem;
  width: auto;
  margin: 0rem 0.4rem;
}

.Address {
  min-width: 15rem;
  display: flex;
  flex-direction: column;
  padding-left: 0.2rem;
}

.Contact {
  width: 25%;
  min-width: 16rem;
  padding-left: 5%;
  display: flex;
  flex-direction: column;
}

.BusinessHours {
  width: 25%;
  min-width: 15rem;
  padding-left: 5%;
  display: flex;
  flex-direction: column;
}

span.TextBox {
  height: 1.3rem;
  line-height: normal;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 925px) {
  .Footer {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .Logo,
  .Contact,
  .BusinessHours {
    width: 100%;
    padding-left: 5%;
  }

  .Footer img {
    height: 2rem;
    margin: 1% 0%;
  }
}
