.SearchBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.09rem solid #3e5f7e;
  border-radius: 2rem;
  padding: 0.3rem 0.5rem;
  height: 1.8rem;
  width: 35%;
}

.SearchBar input {
  width: 100%;
  padding-left: 0.1rem;
  border: none;
  background-color: transparent;
  font-size: 0.9rem;
  font-family: "Sukhumvit", "Tahoma", sans-serif;
  color: #215f9a;
}

input:focus {
  outline: none;
}

.SearchBar button {
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: inherit;
  color: inherit;
}

.clearButton {
  opacity: 0.6;
}

.clearButton:hover {
  opacity: 1;
}
