.PageContainer {
  height: 70vh;
  width: 100%;
  background-color: #f8fcfe;
}

.PageContainer h1 {
  color: #215f9a;
  font-size: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  padding-left: 10%;
}

.Map {
  height: 80%;
  width: 85%;
  padding: 0.5rem 1rem 2rem 1rem;
  margin: 0 auto;
}

.Map iframe {
  height: 100%;
  width: 100%;
}
