.Header {
  height: 8.6rem;
  background: #00326a;
  align-content: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}

.Logo {
  min-width: 24rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Logo img {
  height: 6rem;
  width: auto;
  margin-left: 4.2rem;
  margin-right: 0.4rem;
}

.StoreName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0rem;
}

.StoreName h1 {
  font-size: 3.2rem;
  margin-bottom: 0.1rem;
  color: #fff;
}

.StoreName h2 {
  text-align: left;
  font-size: 1.8rem;
  color: #fff;
}

.NavContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding-right: 3.6rem;
}

.Telephone {
  border-radius: 0.9rem;
  height: 1.75rem;
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-indent: 0.3rem;
  font-weight: 600;
  background-color: #c1e5f5;
  margin-top: 2rem;
}

.Nav ul {
  display: flex;
}

.Nav li {
  list-style: none;
}

.Nav a {
  display: block;
  color: #fff;
  text-decoration: none;
  width: 6rem;
  padding: 0.38rem 0rem;
  margin-bottom: 0.4rem;
  text-align: center;
  transition: background-color 0.3s;
}

.Nav a:hover {
  background-color: rgba(193, 229, 245, 0.08);
}

.Nav a.inactive {
  border-bottom: 0.18rem solid transparent;
}

.Nav a.active {
  border-bottom: 0.18rem solid #fff;
}
